$color_one: rgba(255, 255, 255);
$color_two: rgba(255, 255, 255, .8);
$color_three: rgba(255, 255, 255, .5);
$color_four: #E96F7C;
$color_five: #e0a4a4;
$color_six: #db2b28;
$color_seven: #b63636;


$color_background: #F9E3BD;


$color_normal_word: #473c35;
$color_face: #473c35;
$color_word_one: rgba(0, 0, 0, .8);


$spacing_between_item_and_page: 24px;



@mixin page_layout_base {
	width: 100%;
	max-width: 1600px;
  margin: 0 auto;
  padding: 76px 24px 0
}
