<section class="web-info-wrap">
  <cpc-page-title [pageTitleName]="'作品資訊'"></cpc-page-title>
  <div class="text-area">
    <ul>
      <li>
        <p>
          <mat-icon>label_important</mat-icon>
          <span>作品說明：</span>
        </p>
        <ul>
          <li>陳怡靜 前端工程師作品^_^</li>
          <li>聯絡方式：sk573129@gmail.com</li>
          <li>本作品持續開發中</li>
          <li>本作品並無處理RWD畫面，請參考其他作品</li>
          <li>尋找合適並有趣的工作機會，歡迎來信與我聯絡！</li>
        </ul>
      </li>

      <li>
        <p>
          <mat-icon>label_important</mat-icon>
          <span>本作品使用技術：</span>
        </p>
        <ul>
          <li>Angular 9(JS framework)</li>
          <li>Angular Material(UI component library for Angular)</li>
          <li>JavaScript</li>
          <li>Three.js</li>
          <li>HTML5</li>
          <li>CSS3/SASS</li>
        </ul>
      </li>

      <li>
        <p>
          <mat-icon>label_important</mat-icon>
          <span>衣物資訊：</span>
        </p>
        <ul>
          <li>照片為本人購入衣物後再實際拍攝，衣物資訊(如材質/品名)為按照作品完整度編寫，非實際資訊，也無販售，特此聲明，如有問題請來信告知，感激！</li>
        </ul>
      </li>
    </ul>
  </div>

</section>
