.home-wrap {
  position: relative;
  .face-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    z-index: 10;
    // border: 1px solid black;
    display: inline-block;
    width: 650px;
    // 面孔
    mat-icon.face-home {
      color: #e0a4a4;
      width: 50%;
      height: auto;
      // border: 1px solid black;
    }
    // 眼睛
    .heart-wrap {
      // border: 1px solid black;
      position: absolute;
      width: 5%;
      top: 14%;
      &.heart-wrap-left {
        left: 31%;
      }
      &.heart-wrap-right {
        right: 35%;
      }
      mat-icon {
        // border: 1px solid black;
        color: #db2b28;
        width: 100%;
        height: auto;
      }
    }
    // 標題
    .title {
      > div {
        margin: 10px 0 5px;
        color: #b63636;

        mat-icon {
          width: 38px;
          height: auto;
          // vertical-align: baseline;
          display: inline-block;
          padding-right: 8px;
        }
        h1 {
          font-size: 50px;
          display: inline-block;
          // vertical-align: bottom;
        }
      }
      > p {
        font-size: 18px;
      }
    }
  }
}
