<section class="home-wrap">
  <div class="three-js-wrap" #threeJsWrap></div>
  <div class="face-wrap">
    <mat-icon class="face-home" svgIcon="face_home_no_mouth"></mat-icon>
    <!-- 左眼 -->
    <div class="heart-wrap heart-wrap-left" #heartLeft>
      <mat-icon svgIcon="heart"></mat-icon>
    </div>
    <!-- 右眼 -->
    <div class="heart-wrap heart-wrap-right" #heartRight>
      <mat-icon svgIcon="heart"></mat-icon>
    </div>
    <!-- 標題 -->
    <div class="title-word-area">
      <div class="title-wrap">
        <mat-icon svgIcon="logo"></mat-icon>
        <h1>平民衣物分析間</h1>
      </div>
      <p>陳怡靜 前端工程師作品 sk573129@gmail.com</p>
    </div>
    <!-- <cpc-face-operate-guide></cpc-face-operate-guide> -->
  </div>
</section>
