.home-wrap {
  position: relative;
  .face-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    // border: 1px solid black;
    display: inline-block;
    width: 800px;
    mat-icon.face-home {
      color: #e0a4a4;
      // color: #9e7a7a;
      width: 50%;
      height: auto;
      // border: 1px solid black;
    }
    .heart-wrap {
      // border: 1px solid black;
      position: absolute;
      width: 5%;
      top: 18%;
      &.heart-wrap-left {
        left: 31%;
      }
      &.heart-wrap-right {
        right: 35%;
      }
      mat-icon {
        // border: 1px solid black;
        color: #db2b28;
        width: 100%;
        height: auto;
      }
    }


    .word-all-story,
    .word-cloth-analysis,
    .word-random-match,
    .word-share-yours {
      position: absolute;
    }
    .word-all-story {
      top: -50px;
      left: 0;
    }
    .word-cloth-analysis {
      top: -50px;
      right: 0;
    }
    .word-random-match {
      bottom: -100px;
      left: 0;
    }
    .word-share-yours {
      bottom: -100px;
      right: 0;
    }
  }
}
