.home-wrap {
  position: relative;
  .face-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    mat-icon {
      color: #9e7a7a;
    }
    .word-all-story,
    .word-cloth-analysis,
    .word-random-match,
    .word-share-yours {
      position: absolute;
    }
    .word-all-story {
      top: -50px;
      left: 0;
    }
    .word-cloth-analysis {
      top: -50px;
      right: 0;
    }
    .word-random-match {
      bottom: -100px;
      left: 0;
    }
    .word-share-yours {
      bottom: -100px;
      right: 0;
    }
  }
}
