@import "../../../assets/style/_var.scss";

.cloth-analysis-wrap {
  @include page_layout_base;
  // background-color: yellow;
  .mat-table {
    // width: 100%;
    .mat-column-index {
      width: 100px;
      mat-checkbox {
        padding-right: 8px;
      }
    }
    .mat-column-preference {
      mat-icon {
        width: 18px;
        font-size: 16px;
      }
    }
    .mat-column-story {
      mat-icon {
        cursor: pointer;
      }
    }
  }
}
