<section class="cloth-story-wrap">
  <cpc-page-title [pageTitleName]="'衣物故事'"></cpc-page-title>
  <!-- 上半部：圖+資訊 -->
  <div class="main-info-area">
    <div>
      <img [src]="'../assets/images/cloth/' + clothImgList.mainImg" alt="替代文字">
    </div>
    <div>
      <img [src]="'../assets/images/cloth/' + clothImgList.backImg" alt="替代文字">
    </div>
    <div>
      <div>
        <h2>{{ clothInfo.name }}</h2>
        <p>{{ clothInfo.material }}</p>
        <p>
          <ng-container *ngFor="let i of clothInfo.preferenceAry">
            <mat-icon>favorite</mat-icon>
          </ng-container>
        </p>
        <p>
          <ng-container *ngIf="clothInfo.type === 1">上身</ng-container>
          <ng-container *ngIf="clothInfo.type === 2">下身</ng-container>
          <ng-container *ngIf="clothInfo.type === 3">外套</ng-container>
          <ng-container *ngIf="clothInfo.type === 4">配件</ng-container>
        </p>
        <p>{{ clothInfo.loginDate }}</p>
      </div>
    </div>
  </div>
  <!-- 下半部：小圖+故事 -->
  <div class="story-area">
    <p>衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，
        衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字
        衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文
        字衣物故事測試文字衣物故事測試文字衣物故事測試文字
      </p>
      <div class="content-img-wrap" fxLayout="row" fxLayoutAlign="start center">
        <div *ngFor="let clothImg of clothImgList.contentImg">
          <img [src]="'../assets/images/cloth/' + clothImg" alt="替代文字">
        </div>
      </div>
      <p>衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，
        衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字
        衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文
        字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，
        衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物
        故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故
        事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測
        試文字，衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字衣物故事測試文字
      </p>
  </div>
</section>
