@import "../../../assets/style/_var.scss";

.cloth-story-wrap {
  @include page_layout_base;
  // background-color: yellow;
  .main-info-area {
    background-color: $color_three;
    position: relative;
    > div {
      display: inline-block;
    }
    > div {
      width: 30%;
      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;   // 去掉那個4px！
      }
    }
    > div:last-child {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      vertical-align: top;
      width: 40%;
      > div {
        // background-color: pink;
        width: 60%;
        margin: 0 auto;
        p {
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }

  .story-area {

  }
}
