<section class="cloth-story-wrap">
  <cpc-page-title [pageTitleName]="'衣物故事'"></cpc-page-title> <!-- TODO: 動態資料 -->
  <!-- 上半部：圖+資訊 -->
  <div class="main-info-area">
    <div>
      <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
    </div>
    <div>
      <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
    </div>
    <div>
      <div>
        <p>個性粗黑線棕色上衣</p>
        <p>棉60% + 聚酯纖維40%</p>
        <p>333</p>
        <p>衣服</p>
        <p>2020-10-01</p>
      </div>
    </div>
  </div>
  <!-- 下半部：小圖+故事 -->
  <div class="story-area">

  </div>
</section>
