<div class="three-js-wrap" #threeJsWrap></div>

<section class="random-match-wrap">
  <cpc-page-title [pageTitleName]="'隨機搭配'"></cpc-page-title>
  <div class="match-item-wrap" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
    <div class="match-item">
      <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
      <p>外套/配件</p>
    </div>
    <div class="match-item">
      <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
      <p>上衣/洋裝</p>
    </div>
    <div class="match-item">
      <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
      <p>褲子/配件</p>
    </div>
  </div>
</section>
