@import "../assets/style/_var.scss";

.app-wrap {
  // position: relative;
  .cpc-face-operate-guide {
    position: fixed;
    bottom: $spacing_between_item_and_page;
    left: $spacing_between_item_and_page;
    margin-right: $spacing_between_item_and_page;
  }
}
