<section class="all-story-wrap">
  <h1 class="page-title">詳細故事</h1>
  <div class="cloth-item">
    <img src="http://fakeimg.pl/300x250" alt="替代文字">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni veritatis, aliquam vitae obcaecati incidunt animi ut, ipsam nulla fuga pariatur itaque possimus natus recusandae accusamus! Recusandae vel corrupti culpa.
  </div>
  <div class="cloth-item">
    <img src="http://fakeimg.pl/300x250" alt="替代文字">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni veritatis, aliquam vitae obcaecati incidunt animi ut, ipsam nulla fuga pariatur itaque possimus natus recusandae accusamus! Recusandae vel corrupti culpa.
  </div>
  <div class="cloth-item">
    <img src="http://fakeimg.pl/300x250" alt="替代文字">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni veritatis, aliquam vitae obcaecati incidunt animi ut, ipsam nulla fuga pariatur itaque possimus natus recusandae accusamus! Recusandae vel corrupti culpa.
  </div>
  <div class="cloth-item">
    <img src="http://fakeimg.pl/300x250" alt="替代文字">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni veritatis, aliquam vitae obcaecati incidunt animi ut, ipsam nulla fuga pariatur itaque possimus natus recusandae accusamus! Recusandae vel corrupti culpa.
  </div>
  <div class="cloth-item">
    <img src="http://fakeimg.pl/300x250" alt="替代文字">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni veritatis, aliquam vitae obcaecati incidunt animi ut, ipsam nulla fuga pariatur itaque possimus natus recusandae accusamus! Recusandae vel corrupti culpa.
  </div>
  <div class="cloth-item">
    <img src="http://fakeimg.pl/300x250" alt="替代文字">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis magni veritatis, aliquam vitae obcaecati incidunt animi ut, ipsam nulla fuga pariatur itaque possimus natus recusandae accusamus! Recusandae vel corrupti culpa.
  </div>
</section>
