<section class="all-story-wrap">
  <h1 class="page-title">{{ '-詳細故事-' }}</h1>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
    <h2>個性黑線棕色上衣</h2>
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
</section>
