<section class="all-story-wrap">
  <h1 class="page-title">詳細故事</h1>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
  <div class="cloth-item">
    <img src="../assets/images/cloth/cloth_brown.jpg" alt="替代文字">
  </div>
</section>
