@import "../../../assets/style/_var.scss";

.all-story-wrap {
  @include page_layout_base;
  padding-bottom: 40px;
  // background-color: yellow;

  .cpc-nav-pills-wrap {
    // background-color: gray;
    list-style-type: none;
    margin: 12px auto;
    text-align: center;

    li.cpc-nav-pills {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      background-color: $color_two;
      border: 1px solid #000;
      position: relative;
      margin: 0 4px;
      cursor: pointer;
      a {
        // background-color: pink;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mat-icon {
          vertical-align: bottom;
        }
      }
    }
  }
}
