@import "../../../../assets/style/_var.scss";

.navigation-wrap {
  text-align: center;
  background-color: $color_two;
  position: absolute;
  width: 100%;
  li {
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    margin: 8px 16px;
    a {
      text-decoration: none;
      span {
        // margin: 8px 16px;
        color: $color_word_one;
      }
      // icon 圈圈的顏色
      span.nav-icon {
        background-color: $color_five;
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        // 希望icon對齊中間
        vertical-align: middle;
        mat-icon {
          width: 40px;
          height: 40px;
          color: $color_seven;
          vertical-align: bottom;
        }
      }
    }
  }
}
