<section class="navigation-wrap">
  <ul>
    <li *ngFor="let navItem of navList">
      <!-- <a [href]="navItem.path"> -->
      <!-- <a routerLink="/all-story" routerLinkActive="active"> -->
      <a [routerLink]="navItem.path" routerLinkActive="active">
        <span *ngIf="navItem.type === 'word'">
          {{ navItem.name }}
        </span>
        <span *ngIf="navItem.type === 'icon'" class="nav-icon">
          <mat-icon color="primary" svgIcon="logo"></mat-icon>
        </span>
      </a>
    </li>
  </ul>
</section>
